
html {
    font-size: 24px;
  }
  
  .md-typeset .admonition {
    font-size: 1 4px;
  }

/* Headers with increased font size */
h1 {
  color: inherit; /* Automatic color based on parent element */
  font-weight: 800; /* Make the font of h1 bolder */
  font-size: 32px; /* Increase the font size of h1 */
}

h2 {
  color: inherit; /* Automatic color based on parent element */
  font-weight: 800; /* Make the font of h2 bolder */
  font-size: 28px; /* Increase the font size of h2 */
}

h3 {
  color: inherit; /* Automatic color based on parent element */
  font-weight: 800; /* Make the font of h3 bolder */
  font-size: 24px; /* Increase the font size of h3 */
}

h4 {
  color: inherit; /* Automatic color based on parent element */
  font-weight: 800; /* Make the font of h4 bolder */
  font-size: 20px; /* Increase the font size of h4 */
}